* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    /* height: 100px; */
    background-color: black;
    width: 100%;
    color: White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    /* padding: 0px; */

}

#nav-items {
    /* margin-top: 0;
    margin-bottom: 0; */
    margin-left: 20px;
    /* height: 100%; */
}

#company-name {
    margin-right: 20px;
    font-weight: bolder;
    /* font-size: 20px; */
}

#ol {
    display: flex;
    /* gap: 40px;     */
    /* margin-top: 10px;
    margin-bottom: 10px; */
} 

li {
    display: inline-block;
    /* border: 2px solid rgb(246, 15, 15);     */
    /* gap: 10%; */


}
/* 
ol li {
    padding: 15px;

    
    list-style: none;
    
} */

a {
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: white;
    color: black;
}  

/*
a:hover {
    background-color: white;
    color: black;
} */

